<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to @ticket_conversation, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Посмотреть
  <% end %>
  <h1>Редактирование</h1>
</div>

<%= render 'form' %>

